config mesh
        option enabled    '0'
        option tunname    'tunMesh'
        option mode       'static'
        option ipaddr     '10.109.0.1'
        option prefix     '24'
        option mtu        '1290'
        option supernode  'serverip'
        option port       '8828'
        option community  'username'
        option key        'token'
        option route      '1'
        option masquerade '0'
        option compress '1'
        option select_rtt '1'


config route
        option enabled '0'
        option ip '172.17.2.0'
        option mask '24'
        option gw '10.109.0.2'
